<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Каталог автомобилей</h1>
    <br>
    <a href="#">
        <h3 style="display:inline;">Легковые</h3>
    </a>
    <button style="display:inline;">>>Каталог<<</button>
    <br>
<br>
    <a href="#">
        <h3 style="display:inline;">Грузовые</h3>
    </a>
    <button style="display:inline;">>>Каталог<<</button>
    <br>
<br>
<br>
    <a href="/">
        <button>Вернуться на главную страницу</button>
    </a>

</body>
</html>