<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<h1>Каталог мототехники</h1>
    <br>
    <a href="#">
        <h3 style="display:inline;">Спортивные</h3>
    </a>
    <button style="display:inline;">>>Каталог<<</button>
    <br>
<br>
    <a href="#">
        <h3 style="display:inline;">Чоперы</h3>
    </a>
    <button style="display:inline;">>>Каталог<<</button>
    <br>
<br>
    <a href="#">
        <h3 style="display:inline;">Эндуро</h3>
    </a>
    <button style="display:inline;">>>Каталог<<</button>
    <br>
<br>
<br>
    <a href="/">
        <button>Вернуться на главную страницу</button>
    </a>
</body>
</html>